{% extends "menu.html.twig" %} {% block title %}Westory - Réinitialisation du
mot de passe{% endblock %} {% block westory_body %}
<div class="bodyPage container">
  <h2>Réinitialisation du mot de passe</h2>
  {{ form_start(form) }}
  {{ form_errors(form) }}
  {{ form_end(form) }}
</div>
{% endblock %}
