<h3>Bienvenue sur WeStory !</h3>

Bienvenue {{ name }}! Votre compte pour Westory a bien été crée.

Vous pouvez désormais vous connecter pour intéragir avec la communauté en votant pour votre chapitre préféré, participer aux histoires des autres membres ou tout simplement lancer la votre!

N'hésitez pas à changer votre image de profile afin de vous distinguer des autres!

Merci et à bientôt sur <a href="{{ path('home') }}">WeStory</a>!