<h3>WeStory</h3> <br>

{{ name|capitalize }}, <br> <br>

vous avez demandé à réinitialiser votre mot de passe. <br>
Vous pouvez le faire via le lien suivant: <br> <br>

<a href="#">Réinitialiser mon mot de passe</a>. <br> <br>

Si la demande ne vient pas de vous, veuillez ignorer ce message.